body {
  max-width: 1000px;
  margin: auto;
  padding: 20px 20px 20px 280px;
}

@media screen and (max-width: 1000px) {
  body {
    padding-left: 0;
  }
  .sidebar-wrap {
    display: none;
  }
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  color: #00BCD4;
  cursor: pointer;
}

h1:hover:before,
h2:hover:before,
h3:hover:before,
h4:hover:before,
h5:hover:before,
h6:hover:before {
  position: absolute;
  margin-left: -1em;
  content: '#';
}

.sidebar-wrap {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  padding: 30px;
  list-style: none;
}

.sidebar-wrap::after {
  content: '';
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 0;
  width: 1px;
  background: #eee;
}

.sidebar-wrap li {
  padding: 2px 0;
  word-wrap: break-word;
}

.sidebar-wrap li a {
  color: #383838;
  text-decoration: none;
}

.sidebar-wrap li a:hover {
  color: #00BCD4;
}

.sidebar-wrap .h2 {
  padding-left: 1em;
}

.sidebar-wrap .h3 {
  padding-left: 2em;
}

.sidebar-wrap .h4 {
  padding-left: 3em;
}

article.markdown-body {
  padding-left: 20px;
}