body {
  --mdc-theme-primary: #607cd2;
  --mdc-theme-secondary: #607cd2;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdc-form-field:not(:last-child) {
  margin-right: 16px;
}

.mdc-chip {
  opacity: 0.54;
}

.mdc-chip .mdc-chip__checkmark {
  display: none;
}

.form[disabled='false'] .mdc-chip.mdc-chip--selected {
  background-color: var(--mdc-theme-primary);
  color: #fff;
  opacity: 1;
}
