body {
  --mdc-theme-primary: #607cd2;
  --mdc-theme-secondary: #607cd2;
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../style/font-icon.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons.mdc-chip__icon--leading-hidden {
  margin-left: -4px;
  margin-right: 4px;
}

.mdc-form-field:not(:last-child) {
  margin-right: 14px;
}
