body {
  --mdc-theme-primary: #607cd2;
  --mdc-theme-secondary: var(--mdc-theme-primary);
  --mdc-ripple-color: var(--mdc-theme-primary);
  --mdc-segmented-button-selected-ink-color: #fff;
  --mdc-segmented-button-selected-container-fill-color: var(
    --mdc-theme-primary
  );
  --mdc-menu-max-height: 320px;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdc-form-field:not(:last-child) {
  margin-right: 16px;
}

.mdc-segmented-button__segment[disabled] {
  opacity: 0.38;
  pointer-events: none;
}
