& {
  color: #333;

  a {
    color: #607cd2;
  }

  a:active,
  a:hover {
    color: #4c68bb;
  }

  button.disabled,
  button.disabled:hover {
    background-color: #d2d2d2;
  }

  hr {
    border-top: 1px solid #ddd;
  }

  img.inited {
    background-color: #f8f9fa;
  }

  figure figcaption {
    color: #909090;
  }

  code {
    color: #4e5980;
    background-color: #f8f8f8;
  }

  thead {
    background: #f6f6f6;
  }

  tr {
    border-top: 1px solid #dfe2e5;
  }

  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  th,
  td {
    border: 1px solid #dfe2e5;
  }

  blockquote {
    border-left: 4px solid #ddd;
  }

  code {
    background: #f3f6ff;
    color: #607cd2;
  }
  blockquote {
    color: #666;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;
  }

  blockquote.warning {
    border-left-color: #ff6a6a;
  }

  blockquote.warning:before {
    color: #fff;
    background: #ff6a6a;
  }

  blockquote.tip {
    border-left-color: #607cd2;
  }

  blockquote.tip:before {
    color: #fff;
    background: #607cd2;
  }

  pre > code {
    color: #333;
    background: #f8f8f8;
  }

  .hljs-comment,
  .hljs-quote {
    color: #998;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: #333;
  }

  .hljs-literal,
  .hljs-number,
  .hljs-tag .hljs-attr,
  .hljs-template-variable,
  .hljs-variable {
    color: teal;
  }

  .hljs-doctag,
  .hljs-string {
    color: #d14;
  }

  .hljs-section,
  .hljs-selector-id,
  .hljs-title {
    color: #900;
  }
  .hljs-class .hljs-title,
  .hljs-type {
    color: #458;
  }

  .hljs-attribute,
  .hljs-name,
  .hljs-tag {
    color: navy;
  }

  .hljs-link,
  .hljs-regexp {
    color: #009926;
  }

  .hljs-bullet,
  .hljs-symbol {
    color: #990073;
  }

  .hljs-built_in,
  .hljs-builtin-name {
    color: #0086b3;
  }

  .hljs-meta {
    color: #999;
  }

  .hljs-deletion {
    background: #fdd;
  }

  .hljs-addition {
    background: #dfd;
  }

  pre > code.hljs[lang]:before {
    color: hsla(0, 0%, 54.9%, 0.8);
  }

  pre > code.copyable .copy-code-btn {
    color: hsla(0, 0%, 54.9%, 0.8);
  }

  pre > code.copyable .copy-code-btn:hover {
    color: #8c8c8c;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333;
  }
  h2 {
    border-bottom: 1px solid #ececec;
  }
}
