@import url('./variable.less');

.head-padding (@l) {
  padding-left: 0.5em * (@l - 1);
}

body.md-reader {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  * {
    box-sizing: border-box;
  }
  .md-reader {
    &__side {
      overflow: auto;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      font-size: 14px;
      width: 260px;
      padding: 20px;
      border-right: 1px solid var(--color-border);
      margin: 0;
      list-style: none;
      color: var(--color-text-secondary);
      li {
        word-wrap: break-word;
        margin-bottom: 8px;
        &.md-reader__side-li--active {
          a {
            font-weight: bolder;
            color: var(--color-primary);
          }
        }
        a {
          text-decoration: none;
          word-break: break-all;
          color: currentColor;
          &:hover {
            color: var(--color-primary);
          }
        }
        &.md-reader__side {
          &-h1 {
            font-size: 14px;
            .head-padding(1);
          }
          &-h2 {
            font-size: 14px;
            .head-padding(2);
          }
          &-h3 {
            font-size: 13px;
            .head-padding(3);
          }
          &-h4 {
            font-size: 12px;
            .head-padding(4);
          }
          &-h5 {
            font-size: 12px;
            .head-padding(5);
          }
          &-h6 {
            font-size: 12px;
            .head-padding(6);
          }
        }
      }
    }

    &__body {
      padding-left: 260px;
      .md-reader__markdown-content {
        max-width: 900px;
        padding: 30px 50px 40px;
        margin: auto;
        color: var(--color-text-secondary);

        @import url('./theme/markdown-theme.less');
        @import url('./theme/hljs-theme.less');
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          .md-reader__head-anchor {
            position: absolute;
            opacity: 0;
            text-decoration: none;
            padding-right: 8px;
            margin-left: -0.8em;
            border: none;
            cursor: pointer;
            color: var(--color-primary);
          }
          &:hover {
            .md-reader__head-anchor {
              opacity: 1;
            }
          }
        }
      }
    }

    @media screen and (max-width: 960px) {
      &__body {
        padding-left: 0px;
      }
      &__side {
        display: none;
      }
    }
  }
  &.page-theme--dark {
    .md-reader {
      &__btn {
        &--toggle {
          background: rgba(68, 68, 68, 0.4);
          color: var(--color-text-secondary);
          &:hover,
          &:active {
            background: rgba(68, 68, 68, 0.6);
          }
        }
      }
    }
  }
}

.md-reader {
  &__top {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 1;
  }

  &__btn {
    outline: none;
    font-size: 12px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &--toggle {
      width: 40px;
      height: 40px;
      padding: 10px;
      background: rgba(247, 247, 247, 0.8);
      background-origin: content-box;
      color: #6a737d56;
      backdrop-filter: blur(3px);
      &:hover,
      &:active {
        background: rgba(243, 243, 243, 0.8);
      }
      svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
      }
    }
  }
}
